@charset "UTF-8";

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

body {
    background-color: slategray
}

main{ /*página */
    background-color:rgb(2, 36, 48);
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas:"header header" "redespes informes1" "foto1 texto1" "footer footer" 
}


header { /* Cabeçalho da situação */ 
    grid-area:header;
    text-align: center;
    padding: 10px;
   

}

header > p{
    margin:0px
}

.informes1 { /* Forms pessoais */
    background-color: white;
    grid-area:informes1;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
    padding: 10px;

    
}

.informes1 > p {
    margin:0;

}

.texto0 { /* Redes pessoais */
    background-color:white;
    grid-area:redespes;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
    padding: 10px;

}

.texto-tit{
    color:black
}

.texto0 > p {
    margin: 0;
}

.texto-emai{
    color:black
}

.texto1 { /* Texto motivacional */
    background-color: white;
    grid-area:texto1;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;

}

.foto1 { /* foto pessoal */
    grid-area:foto1;


}

footer { /* parte final */
    text-align: center;
    grid-area: footer;
}











